.registration_text{
    padding-left: 10px;
}

.registration_field{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: max-content;
    margin-bottom: 2px;
}

.registration_btn{
    margin-top: 10px;
}

.registration{
    display: flex;
    justify-content: center;
}

.avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.card_about{
    width: max-content;
    padding: 30px;
    margin: auto;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #80808029;

}

.icons{
    display: flex;
    align-items: center;
}

.social{
    display: flex;
    flex-direction: column;
    max-width: max-content;
}
.link_tag{
    cursor: pointer;
}

.navbar{
    display: flex;
    width: max-content;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    gap: 20px;
    border: 1px solid;
    border-radius: 10px;
    background: #ebebeb;
}